footer {
    /* For older browsers */
    background: -webkit-linear-gradient(top left, #00393A, #005D5F);
    border-top: 2px solid #E09F52;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

footer img {
    width: 30px;
    height: 30px;
}

/* .middleIcon {
    background: linear-gradient(180deg, #6831ab, #1f0e41);
    width: 80px;
    height: 80px;
    object-fit: fill;
    border-radius: 50%;
    box-shadow: 0 0 10px hsla(0, 0%, 100%, .4);
    margin-top: -60px;
    border: 3px solid white;
    padding: 13px;
} */

@media screen and (max-width:500px) {
    p {
        font-size: 13px;
    }


}

@media screen and (max-width:400px) {
    p {
        font-size: 11px;
    }

    svg {
        width: 20px;
        height: 20px;
    }

}