.historyTitle {
    font-size: 16px;
    font-weight: 500;
}

.history .active {
    border-bottom: 2px solid #f6e500;
    color: #ffffff;
    filter: drop-shadow(0px 0px 6px #34abff), 0px 0px 6px #34abff;
    text-shadow: 0px 0px 12px #fae584, 0px 0px 12px #fae584, 0px 0px 12px #fae584, 0px 0px 12px #fae584;
}



th {
    background: #509D57 !important;
    color: #fff !important;
}

td {
    background: #fff !important;
    color: #000 !important;
    font-weight: 500;
}

@media screen and (max-width:500px) {
    .historyTitle {
        font-size: 14px;
    }
}

@media screen and (max-width:480px) {

    th,
    td {
        font-size: 14px;
    }
}

@media screen and (max-width:420px) {

    th,
    td {
        font-size: 13px;
        padding: 8px 2px !important;
    }
}

@media screen and (max-width:350px) {
    .historyTitle {
        font-size: 13px;
    }

    th,
    td {
        font-size: 13px;
        padding: 3px 2px !important;
    }

}

@media screen and (max-width:300px) {
    .historyTitle {
        font-size: 12px;
    }
}