.login {
    /* background: linear-gradient(182deg, #6831ab, #1f0e41), url('../img/login.png') 50%;
    box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0.3rem 0.3rem 5rem rgb(0 0 0), 0 0 0.8rem #fff, 0 0 1.8rem #1e0204, inset 0 0 1.3rem #000; */
    /* border: 1px solid #fff; */
    border-radius: 15px;
    width: 50%;
}

.login h5 {
    /* margin-top: 40px; */
    font-weight: 600;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 2px solid white;
}

.input-group-text {
    background: #005D5F !important;
    color: #fff !important;
    padding: 10px 15px !important;
}

input::placeholder {
    background: #005D5F !important;
    color: #fff !important;
    padding: 10px;
}

input {
    background: #005D5F !important;
    color: #fff !important;

}

input:focus {
    outline: none;
}

.loginBtn {
    background: linear-gradient(145deg, rgb(152 214 79) 5%, #005D5F 80%, rgb(152 214 79) 5%);
    /* background: #005D5F; */
    color: #fff;
    font-weight: 600;
    border-radius: 25px;
    padding: 10px;
    width: 80%;
    font-size: 18px;
    border: 2px solid #00393A !important;
}

@media screen and (max-width:650px) {
    .login {
        width: 80% !important;
    }
}

@media screen and (max-width:500px) {
    .loginBtn {
        padding: 8px;
        width: 80%;
        font-size: 16px;
    }
}

@media screen and (max-width:430px) {
    .logo {
        width: 80%;
    }
}

@media screen and (max-width:350px) {
    .login {
        width: 100% !important;
    }
}