@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica:ital@0;1&display=swap');

body {
    /* background-image: url('./assets/img/bg.png'); */
    background: #00393A;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-attachment: fixed;
    font-family: 'IM Fell Double Pica', sans-serif;
    overflow-x: hidden !important;
    color: white;
    padding-bottom: 100px;
}

.swiper-button-next,
.swiper-button-prev {
    display: none !important;
}

.offcanvas {
    background: linear-gradient(to bottom, #002F30, #003F40) !important;
}